html {
	font-size: 62.5%;
}

body {
	background: #FFF;
	color: #646363;
	@include font-size(15);
	line-height: 1.5;
	@include neff;
	@include transition(all 0.3s ease);
	//overflow: hidden;
}

#tortilla {
	margin: 0 auto;
	max-width: 810px;
	//overflow-x: hidden;
	background: url(../images/backgrounds/canvas.jpg) left top repeat;
}

/* =============================================================================
   Header Layout
   ========================================================================== */

#content {
	padding: 17px 176px 65px;
	position: relative;
}